<% if (!locals.user){ %>        
    <center>
        <div class="whole-part">
            <div class="heading">
            <h1>
                Nodejs Authentication
            </h1>
             
            </div>
            
        <div class="content">
            <div>
              
                A complete Authentication system which can be used as a starter code for creating any
                new application
          </div>
          
        </div>
        <div class="sign-in-up-home">
        <a href="/users/sign-in">
        
            Sign In
        
        </a>
        </div>
        <div class="sign-in-up-home">
        <a href="/users/sign-up">
            
                Sign Up
            
            </a>
            </div>
    </div>
    </center>
    <% } %>