<!-- Sign up page -->

<center>
    <div class="whole-part">
        <div class="heading">
        <h1>
          Nodejs Authentication
        </h1>
         <h2>Sign Up</h2>
        </div>
        <div class="sign-in-form-container">
            <form action="/users/create" method="POST" class="sign-in-form">
                <div class="input-container">
                    <input type="text" name="name" placeholder="Your Name" class="input-color">
                    </div>

                <div class="input-container">
                <input type="email" name="email" placeholder="Email"  required class="input-color">
                </div>
                <div class="input-container">
                <input type="password" name="password" placeholder="Password"  required class="input-color">
                </div>
                
                <div class="input-container">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required class="input-color">
                    </div>

                <div class="input-container">
                    
                <input type="submit" value="Sign Up" class="sign-in-button">
                   
            </div>
            <div class="sign-in-with-google">
                <a href="auth/google">
                  Sign up with Google+
                </a>
              </div>
              <div class="dont-have-an-account">
                Already have an account?
                <a href="/users/sign-in"> Sign in</a>
              </div>  
            </form>
        </div>
    
    
    
</div>
</center>