body{
    margin: 0;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/a02af52b-2b04-4534-ad4e-f98688ceb85e/db4e1ip-ce5b9423-400d-4442-8dd8-a9f42717c6c9.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
.whole-part{
    color:rgb(248, 246, 246);
    height: 75vh;
    width: 24%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    /* border: solid 2px black; */
    /* background-image: url(https://image.freepik.com/free-photo/man-working-with-laptop_385-19323865.jpg); */
    background-image: url(https://c1.wallpaperflare.com/preview/552/758/364/computer-laptop-macbook-coding.jpg);
    background-repeat: no-repeat;
    background-attachment: auto;
    background-position: auto;
    background-size: cover;
    border-radius: 10px;
    box-shadow: -1rem 0.3rem 3rem rgb(102, 95, 95);
    background-blend-mode: saturation;
    /* opacity: 0.85; */
}
.heading{
    height:25%;
    width: 100%;
    /* border: solid 2px black; */
    /* background-color: brown; */
}
/* .heading h1{
    padding-top: .5rem;
    border: solid 2px black;
}
.heading h2{
    padding-top: 1.2rem;
    border: solid 2px black;
   
} */
.content{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 1rem; */
    /* background-color: cyan; */
    
    /* border: solid 2px black; */
}
.content div{
   height:90%;
   width:65%;
   font-size: 1rem;
   text-align: left;
   padding-left:1rem ;
  
   /* border: solid 1px black; */
}
.sign-in-up-home{
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
    
}
.sign-in-up-home a{
    height: 49%;
    width: 40%;
    /* border: solid 1px black; */
    background-color: rgb(68, 145, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius:20px;
}

/* sign-in-up-pages */

.sign-in-form-container{
    height:50%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1rem;
  /* border: solid 1px black; */
  /* background-color: cyan; */
}
.sign-in-form{
    height:100%;
    width: 100%;

}
.input-container{
    height:22%;
    width:100%;
    /* border: solid 1px black; */

}
.sign-in-form div input{
    height:70%;
    width:80%;
    border-radius: 20px;
    outline: none;
    padding-left: 13px;
    border: none;
    
}
.forgot-password-div{
    height:10%;
    width:100%;
    
}
.forgot-password-div a{
    text-decoration: none;
    color: rgb(68, 145, 222);
    font-weight: bolder;
    /* background-color: black; */
    /* border-radius: 10px; */
    padding-top: 10px;
    
}
.input-color{
    background-color: rgb(230, 230, 230);
}
.sign-in-button{
 background-color:rgb(68, 145, 222); 
 padding-right: 13px;
 color: white;
 font-size: .9rem;
 font-weight: 700;
}

.sign-in-with-google{
 height: 15.5%;
 width: 80%;
 background-color: rgb(248, 73, 73);
 /* margin-top: 10px; */
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
    
}
.sign-in-with-google a{
    
    text-decoration: none;
    color: white;
    font-size: .9rem;
 font-weight: 700;
}
.dont-have-an-account{
    height: 8%;
    width: 100%;
    margin-top: 10px;
    font-size: .82rem;
    font-weight: 700;
    color:white;
    /* border: solid 1px black; */
}
.dont-have-an-account a{
    color: rgb(68, 145, 222);
    font-weight:bolder ;
    font-size: .95rem;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

  .profile-details{
    text-align: center;
}

#header-position{
    text-align: center;
}

#login-box1{
    margin-top: 80px;
    margin-left: 500px;
    position: relative;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(248, 198, 233, 0.4);
    text-align: center;
}

.left2 {
    margin-top: 3px;
    margin-left: 50px;
    position: relative;
    padding: 40px;
    width: 300px;
    height: 270px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(236, 236, 236, 0.4);
    color: white;
    
  }

  #sub{
      margin-top: 8px;
    margin-left: 10px;
    color: teal;
}

#change{
    color: rgb(224, 219, 221);
    font-family: cursive;
    font-style: italic;
}

#welcome_page{
    text-align: center;
}